/* ############## boxes type css start ################*/
.ww-wpsc-boxstandard{
    border: 1px solid #FFFFFF;
    color: #6D6E6E;
	background: none repeat scroll 0 0 #F1F1F1;
	margin: 0 0 10px;
	padding: 16px 20px 16px 30px;

}
.ww-wpsc-boxinfo {
	background:url(../images/box-info.png)  no-repeat scroll 18px 13px #BEDEFF;
	border: 1px solid #E7F3FF;
    color: #517193;
	padding: 16px 20px 16px 75px;
}
.ww-wpsc-boxwarning{
	background:url(../images/box-warning.png) no-repeat scroll 18px 13px #F7F4B4;
    border: 1px solid #FFFFEA;
    color: #8C8A64;
	padding: 16px 20px 16px 75px;
}
.ww-wpsc-boxdownload{
	background:url(../images/box-download.png) no-repeat scroll 18px 13px #C0F0B3;
    border: 1px solid #E9FFE3;
    color: #5C8A50;
	padding: 16px 20px 16px 75px;
}
.ww-wpsc-boxerror {
 	background:url(../images/box-error.png) no-repeat scroll 18px 13px #FFCEBE;
    border: 1px solid #FFEEE8;
    color: #957368;
	padding: 16px 20px 16px 75px;
}
.ww-wpsc-boxstandard,.ww-wpsc-boxinfo,.ww-wpsc-boxwarning,.ww-wpsc-boxdownload,.ww-wpsc-boxerror{
    font-family: 'Droid Sans,Arial',Verdana,sans-serif;
    font-size: 12px;
    line-height: 21px;
    float: left;
	min-height: 35px;
    text-shadow: 1px 1px 1px #FFFFFF;
    border: 1px solid #CBC4C4;
    -moz-box-shadow: 3px 3px 11px 1px rgba(0, 0, 0, 0.1);
    line-height: 18px;
   -moz-border-radius: 10px 10px 10px 10px;
    margin: 0 0 10px;
	margin:20px;
	width:93%;
	clear:both;
}



/**************** boxes type css end *************************/

/**************** Button CSS Start *************************/
a.ww-wpsc-button.orange{
	background: -moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #FAA51A), color-stop(1,#F47A20));
	background-color: #d76b23;
    border: 1px solid #DA7C0C;
    color: #FEF4E9;
}
a.ww-wpsc-button.orange:hover{
	background: #d25e00;
	background: -moz-linear-gradient(center top , #F88E11, #F06015) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #F88E11), color-stop(1,#F06015));
}
a.ww-wpsc-button.orange:active{
	background: -moz-linear-gradient(center top , #F47A20, #FAA51A) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #F47A20), color-stop(1,#FAA51A));
    color: #FCD3A5;
}
a.ww-wpsc-button span{
	line-height: 1.2em;
    min-height: 16px;
}
a.ww-wpsc-button.large{
	font-size: 1.4em;
    padding: 7px 16px;
}
.ww-wpsc-button-container{
    margin-bottom:10px;
}
/**************** Button CSS End *************************/